venv/
.idea/
.venv/
*.pyc
*.log
/data.npz
dvc_storage/
train/data.npy
test/data.npy
train/mask.npy
test/mask.npy


/model_v1.h5
/metrics_v1.npy
/model_v2.h5
/metrics_v2.npy
/params.yaml
/params_v2.yaml

/metrics_v1.json
/metrics_v2.json
